* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  padding: none;
  margin: none;
  border: none;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #27272a;
}

nav {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  top: 0%;
  width: 100vw;
}

button {
  width: 6rem;
  border: none;
  padding: 8px 0px;
  font-size: 18px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

.reset {
  background-color: #f87171;
}

.start {
  background-color: #4ade80;
}

.reset:hover {
  background-color: #dc2626;
}

.start:hover {
  background-color: #16a34a;
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.board {
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vmin;
  height: 80vmin;
  background-color: #171717;
  padding: 8px;
  box-sizing: border-box;
}

aside p {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  justify-self: center;
}

.alert {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}

.moves {
  height: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.next,
.prev {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.next.active,
.prev.active {
  opacity: 1;
  pointer-events: auto;
}

.moves p.highlight {
  background-color: rgba(255, 255, 0, 0.6);
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
}

svg {
  height: 70%;
  width: 70%;
  fill: #d8cab8;
}

@media (min-width: 768px) {
  .board {
    height: 55vmin;
    width: 55vmin;
  }

  aside {
    width: 55vmin;
    height: 55vmin;
  }

  main {
    margin: 2rem 0px;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .board {
    height: 80vh;
    width: 80vh;
    margin: 0;
  }

  aside {
    width: 45vh;
    height: 80vh;
    flex-shrink: 0;
  }

  aside p {
    font-size: 24px;
  }

  .moves {
    width: 40vh;
    overflow-x: hidden;
  }
}
